.DS_Store
.vscode/
.venv
*.py[cod]
*/__pycache__/
*.ipynb_checkpoints/
*.egg-info/

*/package-lock.json
**/node_modules/

*/static/
js/dist/

build/
dist/

/.tgz
package/

test-zone/web/
js/node_modules
/.ipynb_checkpoints
